body,main,footer,header,h1,h2,h3,h4,h5,h6,section,ul{
	margin: 0;
}
img{
	margin: 14px 0;
	width: 360px;
	height: 360px;
}
p{
	text-indent: 2em;
	font-size: 18px;
	margin:0;
	line-height: 1.6;
}
input{
	padding: 3px;
}


body{
	background-color: #cccccc;
}
nav{
	display: inline-block;
	position: absolute;
	right: 30px;
	height:100%;
	vertical-align: middle;
}
article,section,aside{
	background-color: #ffffff;
	width: 92%;
	margin: 2% auto;
	border: 1px solid #dddddd;
	box-shadow: 2px 2px #999999;
	padding: 2em 1em;
}
figure{
	border: 1px solid #999999;
	width: 160px;
	height: 160px;
	padding: 10px;
}
figure>figcaption{
	text-align: center;
	font-size: 16px;
}
figure>img{
	display: block;
	width: 100%;
	height: 80%;
	margin: 10px 0;
}
table{
	width: 100%;
	border-collapse: collapse;
	font-size: 16px;
	border-color: #cccccc;
}
caption{
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}
thead{
	background-color: #222222;
	color: #ffffff;
	font-size: 18px;
	text-align: left;
}
tfoot{
	background-color: #bbbbbb;
	font-weight: bold;
}
td,th{
	padding: 4px;
}

.web-header{
	position: relative;
	width: 100%;
	height: 80px;
	margin: 0;
	line-height: 80px;
	vertical-align: middle;
	background-color: #333333;
}
.article-header{
	margin-bottom: 1em;
}
.web-logo{
	position: absolute;
	margin-left: 60px;
	margin-top: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.nav-list{
	float: right;
	color: #000000;
}
.dots{
	display: inline-block;
	width: 5px;
	height: 5px;
	content: ".";
	color: #000;
	background-color: #000;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 8px;
}
.nav-item{
	display: inline-block;
}
.nav-link{
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}
.nav-link:visited{
	color: #888888;
}
.nav-link:hover{
	color: #3677d5;
}
.article-title{
	color: #000000;
	margin-bottom: .6em;
	font-weight: bold;
}
.subhead{
	font-size: 22px;
	color: #555555;
	margin-bottom: .6em;
}
.author,.posted-time{
	font-size: 14px;
	color: #777777;
}
.ranking-list{
	font-weight: bold;
}
.aside-title{
	font-size: 18px;
	padding:.8em .6em; 
	border-left: 3px solid #bbbbbb;
	margin-bottom: .6em;
}
.aside-form{
	
}
.input-tips{
	font-size: 14px;
	margin-left: 10.5em;
	margin-top: 5px;
	text-indent: 0;
	padding: 0;
	color: #aaaaaa;
}
.input-labels{
	display: inline-block;
	width: 9em;
	margin-right: 1em;
	text-align: right;
}
.input-boxs{
	margin-bottom: 10px;
}
.input-boxs>textarea{
	width: 80%;
	height: 6em;
	vertical-align: text-top;
	font-size: 18px;

}
.form-body{
	padding-left: 25%;
	font-size: 14px;
}
#submit{
	width: 100%;
	height: 50px;
	font-size: 20px;
	color: #fff;
	background-color: #3677d5;
	border-radius: 8px;
	box-shadow: none;
	border:none;
}
#page-footer{
	height: 100px;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	line-height: 80px;
}
#page-footer>div{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}
