body{
	padding: 0 20px;
}
main{
	margin-top: 20px;
	padding: 20px 0;
	background-color: #eee;
	border: 1px solid #999;
}


.name-box{
	display: inline-block;
	width: 200px;
	padding: 20px;
	line-height: 80px;
	background-color: #fff;
	margin-left: 20px;
	vertical-align: top;
}
.member-box{
	display: inline-block;
	background-color: #ddd;
	width: 120px;
	padding: 20px 0;
	background-color: #fff;
	margin-right: 20px;
	vertical-align: top;
}
.intro-box{
	display: inline-block;
	width: auto;
	background-color: #fff;
	margin:  0 20px;
	max-width: 69.7%;
    vertical-align: top;
}

.logo{
	width: 80px;
	height: 80px;
}
.team-logo{
	border-radius: 50%;
}
.team-name{
	height: 40px;
	line-height: 40px;
	display: inline-block;
	font-size: 28px;
	vertical-align: middle;
	color: #516172;
	margin-left: 12px;
	padding-left: 8px;
	border-left: 3px solid #318de4;
}
.name-A{
	color: #318de4;
}
.introduction{
	padding: 20px;
	font-size: 20px;
	text-indent: 2em;
}
.introduction>p{
	line-height: 1.5em;
}
.member-list{
	width: 80px;
	margin: 0 auto;

}
.member-item{
	margin-top: 20px;
}
.first-item{
	margin: 0;
}